/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$font-family-sans-serif: "Josefin Sans";
$presentation-heading-font: "Josefin Sans";
$presentation-heading-color: darkblue;
$presentation-title-slide-text-align: center;
$presentation-h2-font-size: 1.2em;

/*-- scss:rules --*/


